{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": ["add-module-exports,@babel/plugin-transform-arrow-functions"]
    },
    "production": {
      "presets": ["env", "minify"],
      "plugins": ["add-module-exports,@babel/plugin-transform-arrow-functions"]
    }
  }
}
